.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
/model_ball_detection/mask_test_images
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
*.pyc
*.mp4
*.log
*.txt
*.pth
/__pycache__
/.mypy_cache
/predictions/*
/labeling_images
/ball_detection_contour/runs
/ball_detection_contour/predictions
/figures/*
*.dat
*.pt
/runs
model_ball_detection/predictions
ball_detection_contour/countours_predictions/
ball_detection_contour/countours_predictions_v2/
ball_detection_contour/resnet_revised/
*/__pycache__
*.mp4
source_videos/*
model_ball_detection/input_training_data
ball_detection_contour/countours_drawn
ball_detection_contour/max_countours_chunks
ball_detection_contour/negative_chunks
ball_detection_contour/positive_chunks
ball_detection_contour/preprocessing_eliminate_borders
ball_detection_contour/preprocessing_frame_diff
ball_detection_contour/preprocessing_frame_diff_masked
ball_detection_contour/preprocessing_frame_diff_masked_blur_bw
ball_detection_contour/preprocessing_previous
ball_detection_contour/thresh_experiments
ball_detection_contour/definitive_frame_diff
ball_detection_contour/max_countour_frame_diff
datasets/*
model_ball_detection/*.json
model_ball_detection/*.csv
model_ball_detection/*.pt
ball_detection_contour/*.png
ball_detection_contour/*.jsonl
*.env




