[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
torch = "*"
opencv-python = "*"
matplotlib = "*"
pylint = "*"
jupyter = "*"
torcheval = "*"
appnope = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
mypy = "*"
more-itertools = "*"
sklearn = "*"
scikit-learn = "*"
physt = "*"
line-profiler = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
